<!-- <div class="col-md-10" (ngModel)="quote">
    <mdb-card *ngFor="let quote for quotes">
        <mdb-card-body>
            <mdb-card-title>
                <h2>{{card.name}}</h2>
            </mdb-card-title>
            <mdb-card-text>
                <p>The gretest glory in living lies not in never falling, but in rising every time we fall. Nelson Mandela</p>
            </mdb-card-text>    
            
                <button mdbBtn>Like</button>
                <button mdbBtn>Dislike</button>

        </mdb-card-body>
    </mdb-card>    
    </div>   -->

<p>Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma-which is living with the rewults of other people's thinkin. Steve Jobs</p>



<p>Spread love everywhere you go. Let no one ever come to you without leaving happier. Mother Theresa</p>