/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
background-image: url(../skyhorizon.jpg);
background-size: 100%;
background-color: aquamarine;

}

h1 {
  text-align: center;
  font-size: 70px;
  
}